* {
  color: blue;
}

html,
body {
  min-height: 100% !important;
}

.container-body {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
